@{
    ViewBag.Title = "Message";
}

<h1 class="text-danger">@ViewBag.Title</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h3>An error occurred while processing your request.</h3>
    }
    else
    {
        <h3>@ViewBag.errorMessage</h3>
    }
}